@import "../../../styles/variables";

// Variables
$padding: 20px;

$sb-width: 300px;
$sb-border-color: lighten($dark, 10%);

.map-container {
  height: calc(100vh - 80px);
  width: 100vw;
  padding: $padding;

  background: $dark;

  .map {
    height: 100%;
  }

  .sidebar-container {
    padding-left: $padding;
  }

  .sidebar {
    height: 100%;
    width: 100%;
    padding: $padding;
    border: 1px solid $sb-border-color;
    border-radius: 3px;

    .dividing-border {
      border-top: 1px solid $sb-border-color;
    }

    .chart-container {
      position: absolute;
      bottom: 0;
    }
  }
}

// Hides google credits stuff
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display:none;
}



