/*

KORDE PROPERTIES

Created by Valdemar Rolfsen 2016

*/

// Height & Width
// --------------------

@for $i from 1 to 160 {
  .h-#{$i*10} {
    height: #{$i*10}px;
  }

  .w-#{$i*10} {
    width: #{$i*10}px;
  }
}

@media (max-width: $smallMediaSize) {
  @for $i from 1 to 70 {
    .h-s-#{$i*10} {
      height: #{$i*10}px;
    }
  }
}

@for $i from 1 to 11 {
  .h-#{$i*10}-p {
    height: $i*10%;
  }

  .w-#{$i*10}-p {
    width: $i*10%;
  }

  // Cover opacity
  .cover-#{$i} {
    &:before {
      opacity: 0.1*$i;
    }
  }
}

.h-full {
  min-height: 100vh;
}

// Spinner
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.spinner {
  min-width: 16px;
  min-height: 16px;
}

.spinner:before {
  content: 'Loading…';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  margin-top: -10px;
  margin-left: -10px;
}

.spinner:not(:required):before {
  content: '';
  border-radius: 50%;
  border-top: 2px solid #fff;
  border-right: 2px solid transparent;
  animation: spinner .6s linear infinite;
  -webkit-animation: spinner .6s linear infinite;
}

// Background, Color, Border, Hover and Cover
// --------------------

@each $item in $mainColors {

  $name: nth($item, 1);
  $bg: nth($item, 2);
  $color: nth($item, 3);
  $hover: nth($item, 4);

  // Color options for main colors
  .color-#{$name} {
    color: $bg;

    a {
      color: $bg;
    }
  }

  // Background options for main colors
  .bg-#{$name} {
    background: $bg;
    color: $color;

    a {
      color: $color;
    }

    .input-bottom-#{$name} {
      color: $color;
      &:focus {
        border-bottom-color: $color;
      }
    }
  }

  // Border color options for main colors
  .border-#{$name} {
    border-color: $bg;
  }

  .cover-#{$name} {

    &:before {
      @extend %cover;
      background: $bg;
    }
  }

  .hover-#{$name} {
    @extend %hover;

    &:hover {
      background: $hover;
    }
  }

  .spinner-#{$name}:not(:required):before {
    border-top-color: $bg;
  }
}

.bg-image {
  background-position: center center;
  background-size: cover;
}

// Other cover
.cover-content {
  position: relative;
  z-index: 1;
}

// Border width
@for $i from 0 to 10 {
  .border-#{$i} {
    @extend %solid-border;
    border-width: #{$i}px;
  }

  .border-b-#{$i} {
    @extend %solid-bottom-border;
    border-bottom-width: #{$i}px;
  }

  .border-t-#{$i} {
    @extend %solid-top-border;
    border-top-width: #{$i}px;
  }

  .border-r-#{$i} {
    @extend %solid-right-border;
    border-right-width: #{$i}px;
  }
  .border-l-#{$i} {
    @extend %solid-left-border;
    border-left-width: #{$i}px;
  }
}

// Positioning
// --------------------

.is-relative {
  position: relative;
}

.is-fixed {
  position: fixed;
}

.block-center {
  display: block;
  margin: 0 auto;
}

.float-right {
  float: right;
}

// Shapes
// --------------------

.circle {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

@for $i from 1 to 11 {
  .rounded-#{$i} {
    border-radius: #{$i}px;
  }
}

// Shadows
// --------------------

.center-shadow {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.right-shadow {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

// Cover
// --------------------

// Mobile
// --------------------
.on-mobile {
  display: none;
}

@media (max-width: $smallMediaSize) {
  .hide-mobile {
    display: none;
  }
  .on-mobile {
    display: block;
  }
}

// Lists
// --------------------

// Overflow
// --------------------

.overflow-scroll {
  overflow-y: scroll;
}
