/*----------------------------------------

  KORDE - VARIABLES

-----------------------------------------*/

// Colors
// -------------------

// Main colors
// Main colors
$light: #fff !default;
$stable-light: rgb(242, 242, 240) !default;
$stable: #d7d9da !default;
$stable-dark: #666 !default;
$primary: rgb(41, 128, 185) !default;
$primary-dark: rgb(21, 113, 185) !default;
$green: #44c18b !default;
$blue: #4c7c96 !default;
$pink: #fc7fce !default;
$decline: #c0392b !default;
$accept: #27ae60 !default;
$dark: rgb(44, 62, 80) !default;
$black: #000 !default;

// Text
// -------------------
$defaultFont: "Muli", sans-serif;
$defaultTextColor: #333;
$defaultTextSize: 12px;

// List of main colors
$mainColors: (
    ('light', $light, $defaultTextColor, darken($light, 10%), darken($light, 20%)),
    ('stable-light', $stable-light, $dark, darken($stable-light, 10%), darken($stable-light, 20%)),
    ('stable', $stable, $dark, darken($stable, 10%), darken($stable, 20%)),
    ('stable-dark', $stable-dark, $light, lighten($stable-dark, 10%), lighten($stable-dark, 20%)),
    ('primary', $primary, $light, lighten($primary, 10%), lighten($primary, 20%)),
    ('primary-dark', $primary-dark, $light, lighten($primary-dark, 10%), lighten($primary-dark, 20%)),
    ('green', $green, $light, lighten($green, 10%), lighten($green, 20%)),
    ('blue', $blue, $light, lighten($blue, 10%), lighten($blue, 20%)),
    ('pink', $pink, $light, lighten($pink, 10%), lighten($pink, 20%)),
    ('accept', $accept, $light, lighten($accept, 10%), lighten($accept, 20%)),
    ('decline', $decline, $light, lighten($decline, 10%), lighten($decline, 20%)),
    ('dark', $dark, $light, lighten($dark, 10%), lighten($dark, 20%)),
    ('black', $black, $light, lighten($black, 10%), lighten($black, 20%))
);

// Media sizes
// -------------------
$smallMediaSize: 768px;
$mediumMediaSize: 1050px;

// Nav bar top
$small-nav-size: 60px;
$medium-nav-size: 80px;
$large-nav-size: 120px;

/* Let's get this party started */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.4);
}
